@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Medium"), local("Futura-PT-Medium"), url("../fonts/FuturaPT-Medium/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  font-family: "Lexend", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lexend", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/
html {
  scroll-behavior: smooth;
  /* ползунок скроллбара */
}
html ::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb {
  background-color: #478BF9;
  border-radius: 10px;
}

body {
  color: #fff;
  background-color: #110A1D;
  font-weight: 400;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1920px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

[class*=__container] {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-header {
  display: grid;
  gap: 1.5rem;
}
.block-header__title {
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 104.375em) {
  .block-header__title {
    font-size: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 104.375em) {
  @supports (font-size: clamp( 1.625rem , 1.2398148148rem  +  1.9259259259vw , 3.25rem )) {
    .block-header__title {
      font-size: clamp( 1.625rem , 1.2398148148rem  +  1.9259259259vw , 3.25rem );
    }
  }
  @supports not (font-size: clamp( 1.625rem , 1.2398148148rem  +  1.9259259259vw , 3.25rem )) {
    .block-header__title {
      font-size: calc(1.625rem + 1.625 * (100vw - 20rem) / 84.375);
    }
  }
}
@media (max-width: 20em) {
  .block-header__title {
    font-size: 1.625rem;
  }
}
@media (min-width: 104.375em) {
  .block-header__title--big {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 104.375em) {
  @supports (font-size: clamp( 1.75rem , 1.2166666667rem  +  2.6666666667vw , 4rem )) {
    .block-header__title--big {
      font-size: clamp( 1.75rem , 1.2166666667rem  +  2.6666666667vw , 4rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.2166666667rem  +  2.6666666667vw , 4rem )) {
    .block-header__title--big {
      font-size: calc(1.75rem + 2.25 * (100vw - 20rem) / 84.375);
    }
  }
}
@media (max-width: 20em) {
  .block-header__title--big {
    font-size: 1.75rem;
  }
}
.block-header__title--white {
  color: white;
}
.block-header__text {
  line-height: 1.5;
}

.block-header--center {
  text-align: center;
}

.block-header--inline {
  grid-template-columns: minmax(auto, 580px) minmax(auto, 612px);
  justify-content: space-between;
  align-items: end;
}

.header {
  position: fixed;
  width: 100%;
  top: 16px;
  left: 0;
  z-index: 5;
  background-color: #110A1D;
}
.header__container {
  min-height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 5;
  padding: 24px 48px;
  border-radius: 64px;
  border: 4px solid #478BF9;
  background-color: #110A1D;
}
@media (max-width: 767px) {
  .header__container {
    min-height: 56px;
    padding: 10px 14px;
    justify-content: flex-end;
  }
  .header__container > .header__buttons .header__button--login,
  .header__container > .header__buttons .header__button--singup {
    display: none;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (max-width: 767px) {
  .header__logo {
    width: 22px;
    overflow: hidden;
  }
}
.header__menu {
  flex: 1 1 auto;
}
.header__menu .header__buttons {
  display: none;
}
@media (max-width: 767.98px) {
  .header__menu {
    z-index: 5;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #110A1D;
    transition: all 0.3s ease 0s;
    overflow: auto;
    padding-bottom: 15px;
  }
  .header__menu._open {
    left: 0;
  }
  .header__menu._open:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #110A1D;
  }
  .header__menu._open .menu__list {
    flex-direction: column;
    align-items: stretch;
    row-gap: 5px;
    font-size: 18px;
    padding-top: 96px;
  }
  .header__menu._open .menu__item {
    border-radius: 28px;
    border: 2px solid #478BF9;
    background-color: #110A1D;
    padding: 13px 20px;
  }
  .header__menu._open .header__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: stretch;
    gap: 5px;
    margin-top: 30px;
    width: 100%;
  }
  .header__menu._open .header__buttons .header__button--login {
    width: 100%;
  }
  .header__menu._open .header__buttons .header__button--singup {
    width: 100%;
  }
}
.header__buttons {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  line-height: 1.25;
  text-transform: uppercase;
  flex: 0 0 auto;
}
.header__button--login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 24px;
  border: 2px solid #9DADF2;
  background-color: #110A1D;
  padding: 14px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__button--login:hover {
    background-color: #478BF9;
  }
}
.header__button--singup {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 24px;
  background-color: #478BF9;
  padding: 14px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__button--singup:hover {
    box-shadow: 0px 0px 6px 3px #fff;
  }
}
.header__button--lang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  background-color: #110A1D;
  border-radius: 24px;
  border: 2px solid #9DADF2;
  padding: 14px;
  text-transform: uppercase;
}
.header__button--lang::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/Logo.svg") center/cover no-repeat;
}
.header__button--lang option {
  text-transform: uppercase;
  background-color: #110A1D;
  padding: 8px;
  display: inline-block;
}
.header__button--lang select {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  background-color: #110A1D;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  flex-wrap: wrap;
}
@media (min-width: 104.375em) {
  .menu__list {
    -moz-column-gap: 3.5625rem;
         column-gap: 3.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 104.375em) {
  @supports ((-moz-column-gap: clamp( 1rem , 0.3925925926rem  +  3.037037037vw , 3.5625rem )) or (column-gap: clamp( 1rem , 0.3925925926rem  +  3.037037037vw , 3.5625rem ))) {
    .menu__list {
      -moz-column-gap: clamp( 1rem , 0.3925925926rem  +  3.037037037vw , 3.5625rem );
           column-gap: clamp( 1rem , 0.3925925926rem  +  3.037037037vw , 3.5625rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1rem , 0.3925925926rem  +  3.037037037vw , 3.5625rem )) or (column-gap: clamp( 1rem , 0.3925925926rem  +  3.037037037vw , 3.5625rem ))) {
    .menu__list {
      -moz-column-gap: calc(1rem + 2.5625 * (100vw - 20rem) / 84.375);
           column-gap: calc(1rem + 2.5625 * (100vw - 20rem) / 84.375);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.menu__link {
  color: #fff;
  font-weight: 700;
  line-height: 1.3;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 767px) {
  .menu__icon {
    flex: 0 0 1.5rem;
    display: block;
    text-align: right;
    position: relative;
    z-index: 5;
    width: 1.5rem;
    height: 1.25rem;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #e6e9ee;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: calc(50% - 0.0625rem);
  }
  .menu__icon.menu-open span {
    width: 0;
  }
  .menu__icon.menu-open::before {
    top: calc(50% - 0.09375rem);
    transform: rotate(-45deg);
  }
  .menu__icon.menu-open::after {
    bottom: calc(50% - 0.09375rem);
    transform: rotate(45deg);
  }
}

.page {
  flex: 1 1 auto;
  padding-top: 220px;
  padding-bottom: 20px;
  min-height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
@media (max-width: 1670px) {
  .page {
    padding-top: 130px;
  }
}
.page__main {
  flex: 1 1 auto;
  min-height: 100%;
}

.main__container {
  min-height: 100%;
}
.main__body {
  display: grid;
  grid-template-columns: 35% 30% minmax(30%, 1fr);
  gap: 20px;
  align-items: center;
  max-width: 100%;
}
@media (max-width: 1200px) {
  .main__body {
    grid-template-columns: auto;
    gap: 35px;
    justify-items: center;
  }
}
.main__content {
  padding: 20px 0px;
  position: relative;
}
.main__content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 1%;
  box-shadow: 30px 100px 200px 200px rgba(95, 91, 136, 0.685);
  z-index: -1;
  border-radius: 200px;
}
@media (max-width: 767px) {
  .main__content:before {
    box-shadow: 30px 100px 120px 100px rgba(95, 91, 136, 0.685);
  }
}
@media (max-width: 1400px) {
  .main__content {
    text-align: center;
  }
}
@media (max-width: 1400px) {
  .content-main {
    text-align: center;
    justify-items: center;
  }
}
.content-main__title {
  font-size: 96px;
  font-weight: 500;
  line-height: 1;
}
.content-main__title span {
  color: #478BF9;
}
.content-main__title:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 1670px) {
  .content-main__title {
    font-size: 64px;
  }
}
@media (max-width: 767.98px) {
  .content-main__title {
    font-size: 46px;
  }
  .content-main__title:not(:last-child) {
    margin-bottom: 12px;
  }
}
.content-main__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}
.content-main__text:not(:last-child) {
  margin-bottom: 48px;
}
@media (max-width: 767.98px) {
  .content-main__text {
    font-size: 20px;
  }
  .content-main__text:not(:last-child) {
    margin-bottom: 24px;
  }
}
.content-main__button {
  display: flex;
  padding: 20px 72px;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  background-color: #478BF9;
  transition: all 0.3s ease 0s;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 2rem;
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .content-main__button:hover {
    background-color: #0444ac;
  }
}
@media (max-width: 1400px) {
  .content-main__button {
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .content-main__button {
    padding: 15px 20px;
  }
}

@keyframes vertical {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-75px);
  }
  100% {
    transform: translateY(75x);
  }
}
.decor-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 17px;
       column-gap: 17px;
  transform-origin: 50% 50%;
}
@media (max-width: 1200px) {
  .decor-main {
    transform: rotate(90deg);
    row-gap: 10px;
    height: -moz-min-content;
    height: min-content;
    margin-top: -300px;
    margin-bottom: -300px;
  }
}
@media (max-width: 767px) {
  .decor-main {
    margin-top: -160px;
    margin-bottom: -160px;
  }
}
.decor-main__column {
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 22px;
  animation: vertical ease-in-out 4s alternate infinite;
}
@media (max-width: 1400px) {
  .decor-main__column {
    flex-direction: row;
  }
}
.decor-main__column_1 {
  animation-duration: 3.5s;
}
.decor-main__column_2 {
  animation-duration: 4s;
}
.decor-main__column_3 {
  animation-duration: 3.7s;
}
.decor-main__item {
  border-radius: 101px;
  overflow: hidden;
  width: 99px;
}
.decor-main__item img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .decor-main__item {
    width: 49px;
  }
}

.blog-main__title {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 24px; /* 100% */
  text-align: center;
}
@media (max-width: 767px) {
  .blog-main__title {
    font-size: 32px;
  }
}
.blog-main__wrapper {
  height: 595px;
  border-radius: 100px;
  border: 3px solid #478BF9;
  background-color: rgba(255, 255, 255, 0.12);
  /* Bg Blur 20% */
  overflow: hidden;
  /* Стрелки */
}
.blog-main__wrapper html, .blog-main__wrapper body {
  scrollbar-width: auto; /* толщина */
}
.blog-main__wrapper ::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: #f6f8f4;
}
.blog-main__wrapper ::-webkit-scrollbar-button:vertical:end:increment {
  background-color: #f6f8f4;
}
.blog-main__wrapper ::-webkit-scrollbar-button:horizontal:start:decrement {
  background-color: #f6f8f4;
}
.blog-main__wrapper ::-webkit-scrollbar-button:horizontal:end:increment {
  background-color: #f6f8f4;
}
.blog-main__body {
  height: 100%;
  padding: 24px;
  overflow: auto;
  /* полоса прокрутки (скроллбар) */
  /* подложка скроллбара */
  /* ползунок скроллбара */
}
.blog-main__body ::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  border-radius: 10px;
}
.blog-main__body ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  height: 80%;
}
.blog-main__body ::-webkit-scrollbar-thumb {
  background-color: #478BF9;
  border-radius: 10px;
}
.blog-main__item {
  display: block;
  padding: 16px 64px;
  border-radius: 196px;
  background-color: #1E1231;
}
.blog-main__item:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .blog-main__item {
    padding: 15px 35px;
  }
}
.blog-main__item_active {
  background-color: #478BF9;
}
.blog-main__item--text {
  font-size: 24px;
  line-height: 116%;
  /* 116.667% */
}
@media (max-width: 767px) {
  .blog-main__item--text {
    font-size: 16px;
  }
}
.blog-main__item--text:not(:last-child) {
  margin-bottom: 14px;
}
.blog-main__item--date {
  color: rgba(255, 255, 255, 0.6);
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 450;
  line-height: 16px; /* 114.286% */
}

.footer {
  border-radius: 64px 64px 0px 0px;
  border-top: 4px solid #478BF9;
  border-right: 4px solid #478BF9;
  border-left: 4px solid #478BF9;
  background-color: #1E1231;
  padding: 40px 0px 24px 0px;
}
@media (max-width: 1670px) {
  .footer {
    padding: 20px 0px 14px 0px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  -moz-column-gap: 15px;
       column-gap: 15px;
  min-height: 66px;
}
@media (max-width: 1670px) {
  .footer__container {
    min-height: 40px;
  }
}
@media (max-width: 767.98px) {
  .footer__container {
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
.menu-footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 10px;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .menu-footer__list {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 479.98px) {
  .menu-footer__list {
    -moz-column-gap: 25px;
         column-gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.menu-footer__link {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #478BF9;
    text-decoration: underline;
  }
}

.social-footer__label {
  text-align: right;
  margin-bottom: 14px;
}
@media (max-width: 767.98px) {
  .social-footer__label {
    text-align: left;
  }
}
.social-footer__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (max-width: 479.98px) {
  .social-footer__items {
    flex-wrap: wrap;
  }
}
.social-footer__item {
  position: relative;
  width: 32px;
  height: 32px;
  background: url("../img/footer/BG.svg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.social-footer__item path {
  transition: all 0.3s ease 0s;
}
.social-footer__item svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.social-footer__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  transform: translate(50%, 50%);
  z-index: 3;
}
.social-footer__item:hover svg path {
  fill: #FFF;
}
@media (max-width: 767px) {
  .social-footer__item {
    width: 27px;
    height: 27px;
  }
}
